<%= form_for(@atleta) do |f| %>
  <% if @atleta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atleta.errors.count, "error") %> prohibited this atleta from being saved:</h2>

      <ul>
      <% @atleta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apelido %><br />
    <%= f.text_field :apelido %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :nascimento %><br />
    <%= f.date_select :nascimento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
