<p id="notice"><%= notice %></p>

<p>
  <b>Apelido:</b>
  <%= @atleta.apelido %>
</p>

<p>
  <b>Nome:</b>
  <%= @atleta.nome %>
</p>

<p>
  <b>Nascimento:</b>
  <%= @atleta.nascimento %>
</p>


<%= link_to 'Edit', edit_atleta_path(@atleta) %> |
<%= link_to 'Back', atletas_path %>
